<div id="mobileContainer" class="container" v-if="this.$store.state.isMobile">
    <div class="col-sm-12">
        <img src="../assets/mobile/mobile_gwh-logo_x2.png" class="img-fluid" alt="Logo" />
    </div>
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h1>登入翠華BBS</h1>
                </li>
                <li class="list-group-item">
                    <div class="col-sm-10 field-head">
                        帳號
                    </div>
                    <div class="col-sm-10">
                        <input class="col-sm-10" type="text" v-on:keyup.enter="onAccountField(inAccount)" v-model="inAccount" :placeholder="phAccount" />
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="col-sm-10">
                        <input class="col-sm-10" type="password" ref="pwfield" v-on:keyup.enter="onPasswordField(inPassword)" v-model="inPassword" :placeholder="phPassword" />
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-dark" v-on:click="onPasswordField">
            登入
          </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--

    -->

<div id="mobileContainer" class="container" v-if="this.$store.state.isMobile">
    <nav class="navbar bg-dark navbar-expand-sm">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-left" href="#">我的最愛<span class="list-menu"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left" href="#">分組討論區</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left" href="#">私人信件區</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left" href="#">離開，再見…</a>
            </li>
        </ul>
    </nav>
</div>

<!--

-->
</div>