<div id="mobileContainer" class="container" v-if="this.$store.state.isMobile">
    <div class="col-sm-12">
        <img src="../assets/mobile/mobile_gwh-logo_x2.png" class="img-fluid" alt="Logo" />
    </div>
    <div class="row h-100">
        <div class="col-sm-12 my-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h1>登入翠華BBS</h1>
                </li>
                <li class="list-group-item">
                    <div class="col-sm-10 field-head">
                        帳號
                    </div>
                    <div class="col-sm-10">
                        <input class="col-sm-10" type="text" v-on:keyup.enter="onAccountField(inAccount)" v-model="inAccount" :placeholder="phAccount" />
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="col-sm-10">
                        <input class="col-sm-10" type="password" ref="pwfield" v-on:keyup.enter="onPasswordField(inPassword)" v-model="inPassword" :placeholder="phPassword" />
                    </div>
                </li>
                <li class="list-group-item">
                    <button class="btn btn-dark" v-on:click="onPasswordField">
            登入
          </button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--

    -->

<div id="mobileContainer" class="container" v-if="this.$store.state.isMobile">
    <ul class="nav flex-column bg-dark">
        <li class="nav-item">
            <a class="nav-link text-left" href="#">我的最愛</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-left" href="#">分組討論區</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-left" href="#">私人信件區</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  text-left" href="#">離開，再見…</a>
        </li>
    </ul>
</div>

<!--

-->

<div data-v-f4976df8="" class="mt-4">
    <div data-v-f4976df8="">
        <div data-v-8daf2e7a="" data-v-f4976df8="">
            <!----><span data-v-8daf2e7a=""></span>
            <div data-v-8daf2e7a="" class="e7-container">
                <div data-v-8daf2e7a="" class="e7-left e7-left-xs">
                    <!---->
                    <div data-v-8daf2e7a="" class="e7-type text-no-wrap" style="">討論</div>
                    <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>65</div>
                    <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>387</div>
                </div>
                <div data-v-8daf2e7a="" class="e7-right ml-2">
                    <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/movie/M.1602691871.A.3EC" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">柯震東是不是很可惜</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                        <div
                            data-v-8daf2e7a="" class="e7-width100"></div>
                    <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/movie" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">movie</span> ] </a></div>
                <div data-v-8daf2e7a="" class="e7-meta-container">
                    <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/cka" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">cka</span></a>
                        </span>
                    </div>
                    <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                    <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">16小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/15</span></div>
                </div>
            </div>
            <!---->
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs">
                <!---->
                <!---->
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f11"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>396</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>1091</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/SET/M.1602675386.A.6DA" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">[Live] 天之驕女 第51集</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/SET" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">SET</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/heichiuan" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">heichiuan</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">21小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap" style="">情報</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>52</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>123</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/movie/M.1602682648.A.6F6" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">魔物獵人正式預告</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/movie" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">movie</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/nikon610" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">Nikon610</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">19小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap" style="">城市</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f11"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>193</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>372</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/FTV/M.1602669049.A.BD6" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">2020/10/14 第275集 Live</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/FTV" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">FTV</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/donatello81" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">donatello81</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">23小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap" style="">新聞</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>62</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>125</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/movie/M.1602736085.A.6EC" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">新宇宙導演批漫威蜘蛛人：不用每集找導師</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/movie" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">movie</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/cykongg" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">CYKONGG</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">4小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/15</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<div data-v-f4976df8="" class="my-3">
    <div data-v-b1edaeac="" class="adswrapper" data-v-f4976df8=""><ins data-v-b1edaeac="" data-ad-client="ca-pub-9063168630285729" data-ad-slot="8487357003" data-ad-test="" data-ad-format="" data-ad-region="page-0.7638432638969652" class="adsbygoogle adsbygoogle_responsive_1" style="display: block;"></ins></div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs" style="">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap">討論</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>54</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>81</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/movie/M.1602698115.A.139" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">蝙蝠俠片場照</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/movie" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">movie</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/aher2600" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">aher2600</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">15小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/15</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs" style="">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap">新聞</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>54</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>56</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/China-Drama/M.1602679064.A.1BF" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">18個月上線631部網劇 《陳情令》成劇王</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/China-Drama" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">China-Drama</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/sonia16" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">sonia16</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">20小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs" style="">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap">負雷</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>25</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>115</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/movie/M.1602676756.A.281" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">刻在你心底的名字 觀後感</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/movie" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">movie</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/alphagoc8763" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">alphagoc8763</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">21小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs" style="">
                <!---->
                <!---->
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f11"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>200</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>602</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/KoreaDrama/M.1602678906.A.7DC" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">[LIVE] 九尾狐傳 EP3</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/KoreaDrama" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">KoreaDrama</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/tcchenk" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">tcchenk</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">20小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="e7-left e7-left-xs" style="">
                <!---->
                <div data-v-8daf2e7a="" class="e7-type text-no-wrap">情報</div>
                <div data-v-8daf2e7a="" class="e7-recommendScore text-no-wrap f13"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">推文:</span></i>25</div>
                <div data-v-8daf2e7a="" class="e7-recommendCount text-no-wrap e7-grey-text"><i data-v-8daf2e7a="" aria-hidden="true" class="v-icon material-icons  theme--dark" style="line-height: 0px;"><span class="e7description">回應:</span></i>38</div>
            </div>
            <div data-v-8daf2e7a="" class="e7-right ml-2">
                <div data-v-8daf2e7a="" class="e7-right-top-container e7-no-outline-all-descendants"><a data-v-8daf2e7a="" href="/bbs/movie/M.1602691036.A.75C" class="e7-article-default"><span data-v-8daf2e7a="" class="e7-title my-1 e7-link-to-article e7-article-default"><span data-v-8daf2e7a="">艾美亞當斯、葛倫克蘿絲主演《絕望者之歌》預告公開！</span><span data-v-8daf2e7a="" class="__e7-full-title-appended-part"></span></span><span data-v-4dbba7b2="" data-v-8daf2e7a=""><!----><!----><!----><!----></span></a>
                    <div
                        data-v-8daf2e7a="" class="e7-width100"></div>
                <div data-v-8daf2e7a="" class="e7-spacer"></div><a data-v-8daf2e7a="" href="/bbs/movie" class="e7-boardName">[ <span data-v-8daf2e7a="" class="e7-link-to-article">movie</span> ] </a></div>
            <div data-v-8daf2e7a="" class="e7-meta-container">
                <div data-v-8daf2e7a="" class="text-no-wrap mr-4"><span data-v-aeeea5ac="" data-v-8daf2e7a=""><a data-v-aeeea5ac="" href="/user/qpr322" class=""><span data-v-8daf2e7a="" class="grey--text e7-link-to-article" style="text-decoration-color: rgb(153, 153, 153);">qpr322</span></a>
                    </span>
                </div>
                <div data-v-8daf2e7a="" class="e7-spacer mr-2"></div>
                <div data-v-8daf2e7a="" class="e7-grey-text"><span data-v-8daf2e7a="" class="text-no-wrap">17小時前</span>, <span data-v-8daf2e7a="" class="text-no-wrap">10/14</span></div>
            </div>
        </div>
        <!---->
    </div>
</div>
<hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
<!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 88px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 88px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 88px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 88px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <div data-v-f4976df8="" class="my-3">
        <div data-v-b1edaeac="" class="adswrapper" data-v-f4976df8=""><ins data-v-b1edaeac="" data-ad-client="ca-pub-9063168630285729" data-ad-slot="8487357003" data-ad-test="" data-ad-format="" data-ad-region="page-0.4906395547821407" class="adsbygoogle adsbygoogle_responsive_1" style="display: block;"></ins></div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <div data-v-f4976df8="" class="my-3">
        <div data-v-b1edaeac="" class="adswrapper" data-v-f4976df8=""><ins data-v-b1edaeac="" data-ad-client="ca-pub-9063168630285729" data-ad-slot="8487357003" data-ad-test="" data-ad-format="" data-ad-region="page-0.09863434217255729" class="adsbygoogle adsbygoogle_responsive_1" style="display: block;"></ins></div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <!---->
</div>
<div data-v-f4976df8="">
    <div data-v-8daf2e7a="" data-v-f4976df8="">
        <!----><span data-v-8daf2e7a=""></span>
        <div data-v-8daf2e7a="" class="e7-container">
            <div data-v-8daf2e7a="" class="" style="height: 65px;"></div>
        </div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
    <div data-v-f4976df8="" class="my-3">
        <div data-v-b1edaeac="" class="adswrapper" data-v-f4976df8=""><ins data-v-b1edaeac="" data-ad-client="ca-pub-9063168630285729" data-ad-slot="8487357003" data-ad-test="" data-ad-format="" data-ad-region="page-0.548138858157774" class="adsbygoogle adsbygoogle_responsive_1" style="display: block;"></ins></div>
    </div>
    <hr class="my-1 e7-divider v-divider theme--dark" data-v-f4976df8="">
</div>
</div>

</div>