#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; */
  /* margin-top: 60px; */
}

#BBSWindow {
  min-width: 970px;
}

#BBSWindow .main {
  border: 0px;
  font-family: MingLiu, SymMingLiu, monospace !important;
  transform-origin: center center;
  font-size: 24px;
  line-height: 24px;
  overflow: hidden auto;
  text-align: left;
  /* !原始 */
  /* width: 970px; */
  /* !原始 */
  /* height: 586px; */
  min-height: 586px;
  /* !原始 */
  /* margin-top: 96px; */
  transform: none;
  /* z-index: -1 !important; */
}

span {
  white-space: pre !important;
}
