#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; */
  /* margin-top: 60px; */
}

#BBSWindow {
  min-width: 970px;
}

#BBSWindow .main {
  border: 0px;
  font-family: MingLiu, SymMingLiu, monospace !important;
  transform-origin: center center;
  font-size: 24px;
  line-height: 24px;
  overflow: hidden auto;
  text-align: left;
  /* !原始 */
  /* width: 970px; */
  /* !原始 */
  /* height: 586px; */
  min-height: 586px;
  /* !原始 */
  /* margin-top: 96px; */
  transform: none;
  /* z-index: -1 !important; */
}

#BBSWindow pre{
  border: 0px;
  font-family: MingLiu, SymMingLiu, monospace !important;
  height: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden auto;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
}

span {
  white-space: pre !important;
}

#mainContainer pre {
  height: 24px;
  display: flex;
}

#mainContainer pre .pointer{
  display: inline-block;
  width: 24px;
  text-align: left;
}

#mainContainer pre .index{
  display: inline-block;
  width: 60px;
  text-align: right;
}

#mainContainer pre .trend{
  display: inline-block;
  width: 36px;
  text-align: right;
}

#mainContainer pre .name{
  display: inline-block;
  width: 156px;
}

#mainContainer pre .class{
  display: inline-block;
  width: 60px;
}

#mainContainer pre .caption{
  display: inline-block;
  width: 420px;
}

#mainContainer pre .pop{
  display: inline-block;
  width: 36px;
  text-align: right;
}

#mainContainer pre .manager{
  display: inline-block;
  /* width: 144px; */
  width: 168px;
  margin-left: 12px;
}

#mainContainer .empty{
  display: inline-block;
  width: 970px;
  line-height: 24px;
  height: 24px;
}

#mainContainer pre .id {
  display: inline-block;
  width: 48px;
  text-align: right;
}

#mainContainer pre .id2 {
  display: inline-block;
  width: 72px;
  text-align: right;
}

#mainContainer pre .reply {
  display: inline-block;
  width: 36px;
  margin-left: 12px;
}

#mainContainer pre .reply2 {
  display: inline-block;
  width: 36px;
  margin-left: 6px;
  margin-right: 6px;
}

#mainContainer pre .date {
  display: inline-block;
  width: 60px;
}

#mainContainer pre .author {
  display: inline-block;
  width: 180px;
}

#mainContainer pre .author2 {
  display: inline-block;
  width: 156px;
}

#mainContainer > pre > span.p_field  {
  display: inline-block;
  width: 864px;
  padding-left: 12px;
  height: 24px;
}

#mainContainer > div > p.text_field  {
  display: inline-block;
  width: 936px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#mainContainer > span.p_foot {
  bottom: 10px;
  position: absolute;
}

#mainContainer pre .caption2 {
  display: inline-block;
  /* width: 588px; */
  width: 612px;
}

/* .pw {
  height: 35px;
  line-height: 35px;
} */

#mainContainer span.h_manager{
  display: inline-block;
  width: 350px;
}

#mainContainer span.h_pin{
  display: inline-block;
}

#mainContainer span.h_name{
  display: inline-block;
  text-align: right;
  width: 350px;
  margin-right: 22px;
}

#mainContainer span.h_pop{
  display: inline-block;
  min-width: 84px;
}

#mainContainer input{
  line-height: 24px;
  height: 24px;
  border: 0px;
  padding: 0px;
}

#mainContainer .del_popup{
  position: absolute;
  width: 100%;
  height: 264px;
  bottom: 10px;
  z-index: 10;
  background-color: black;
}

#mainContainer .del_popup .col-12{
  position: absolute;
  display: inline-block;
  max-width: 948px;
  bottom: 0px;
}

#BBSWindow .new_popup span{
  position: absolute;
  display: inline-block;
  width: 324px;
  top: 0px;
}