#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50; */
  /* margin-top: 60px; */
}

#BBSWindow {
  /* border: 0px;
  font-family: MingLiu, SymMingLiu, monospace !important;
  transform-origin: center center;
  font-size: 24px;
  line-height: 24px;
  overflow: hidden auto;
  text-align: left;
  width: 1024px; */
  /* ! 原始參數
  height: 586px;
  margin-top: 96px;
  */
  height: 656px;
  /* margin-top: 130px; */
  /* transform: none; */
  z-index: -1 !important;
}

span {
  white-space: pre !important;
}